/* web first design */
/* Laptop Deice */
@media screen and (max-width: 1200px) {
}

/* tablet deice */

@media screen and (max-width: 992px) {
}

/* Big Mobile Device  */

@media screen and (max-width: 768px) {
}

/*  normal device*/
