* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* shared-style  */

.logo h2 {
  font-size: 45px;
}
.color-orange {
  color: #fd6e0a;
  font-size: 900;
}
.text-center {
  text-align: center;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* main style */

header {
  background-color: #fff8f3;
  padding-top: 50px;
  background:
    url("../images/developer.png"), url("../images/header_bg.png"), #fff8f3;
  background-position:
    23px 38px,
    bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(255, 47, 57); */
  margin: 47px 38px 0px 230px;
}
#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
#banner .banner-img img {
  max-width: 585px;
  vertical-align: middle;
}
/* 
#about {
  padding-top: 130px;
} */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about,
#resume {
  padding-top: 110px;
}

#about .about-container {
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
  font-weight: bold;
}
.skills {
  padding-top: 130px;
}
#resume {
  border: 2px solid red;
  margin: 0;
  padding-top: 130px;
}
*/ .skills .skill-container {
  width: 71%;
  max-width: 100%;
  margin: 0 auto;
}
.skill-box {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.skill-card {
  padding: 30px;
  /* border: 2px solid red; */
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000011;
  border-radius: 5px;
}
.skill-card img {
  margin: 30px;
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0px;
  display: flex;
  gap: 30px;
}
.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}
.resume-card .card-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}
.resume-card .card-info {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
.resume-container hr {
  margin: 30px 0;
}
footer {
  margin-top: 130px;
  padding-top: 130px;
  background-color: #fff8f3;
  margin-bottom: 10px;
}
footer .footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 166px;
}

.footer-container .social {
  max-width: 562px;
}
.footer-container h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-container .social p {
  color: #474747;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer-container .icons a {
  margin-right: 24px;
}
.footer-container form input[type="text"],
.footer-container form textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    padding-top: 50px;
    background: url(../images/header_bg.png), #fff8f3;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  #about,
  .skills,
  #resume {
    padding-top: 60px;
  }
  .btn-group {
    justify-content: center;
  }

  #about .about-container .about-info {
    gap: 40px;
  }
  nav {
    gap: 20px;
  }
  nav .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  #banner {
    margin: 20px;
    gap: 20px;
    text-align: center;
  }

  #banner .banner-img img {
    width: 100%;
  }
  #banner .banner-content h1 {
    font-size: 44px;
  }

  .skills .skill-container .skill-box,
  #about .about-container .about-info,
  footer .footer-container,
  #resume .resume-container,
  nav,
  #banner {
    flex-direction: column;
  }

  .skill-box .skill-card {
    max-width: 100%;
  }
  #resume .resume-container {
    margin-top: 60px;
  }
  .resume-card {
    margin-right: 10px;
  }

  .footer-container form input[type="text"],
  .footer-container form textarea {
    width: 100%;
  }

  .skill-card {
    padding: 20px;
    margin: 10px;
  }

  #about .about-container {
    padding: 20px;
  }
}
